<div class="container mt-xl-3 col-mb-6" >
  <div class="card">
    <div class="card-header">
      Add New Product
    </div>
    <div class="card-body">
<!--      {{formProduct.controls['price'].errors | json}}-->

      <form [formGroup]="formProduct" (ngSubmit)="addNewProduct()">
        <div class="mb-3">
          <label class="form-label">Name</label>
          <input type="text" class="form-control" formControlName="name">
          <small *ngIf="formProduct.controls['name'].errors&&formProduct.controls['name'].touched"
          class="text-bg-danger">
        {{productService.getErrorMessage('Name',formProduct.controls['name'].errors)}}
          </small>

        </div>
        <div class="mb-3">
          <label class="form-label">Price</label>
          <input type="text" class="form-control" formControlName="price">
          <small *ngIf="formProduct.controls['price'].errors&&formProduct.controls['price'].touched"
                 class="text-bg-danger">
            {{productService.getErrorMessage('Price',formProduct.controls['price'].errors)}}
          </small>
        </div>
        <div class=" mb-3">
          <label class="form-label" >Promotion</label>
          <input class="form-check" type="checkbox" formControlName="promotion" >
        </div>
        <div class="mb-3">
          <button [disabled]="!formProduct.valid"  type="submit" class="btn btn-primary">Add Product</button>

        </div>

      </form>
    </div>

  </div>
</div>
