<div class="container mb-6" >
  <div class="card">
    <div class="card-header">
      Add New Product
    </div>
    <div class="card-body">
      <form [formGroup]="formProduct" (ngSubmit)="addNewProduct()">
        <div class="mb-3">
          <label class="form-label">Name</label>
          <input type="text" class="form-control" formControlName="formProduct">
        </div>
        <div class="mb-3">
          <label class="form-label">Price</label>
          <input type="text" class="form-control" formControlName="formProdcut">
        </div>
        <div class="form-check form-switch mb-3">
          <label class="form-check-label" for="flexSwitchCheckChecked">Promotion</label>
          <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked">
          <button type="submit" class="btn btn-primary">Add Product</button>


        </div>

      </form>
    </div>

  </div>
</div>
